<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DemoDB" connectionString="workstation id=DemoDB01.mssql.somee.com;packet size=4096;user id=visualdave_SQLLogin_1;pwd=tqhwn1n6p3;data source=DemoDB01.mssql.somee.com;persist security info=False;initial catalog=DemoDB01" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
